html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #fff;
  --specific-color: #2196f3;

  --primary-bg-color: #fff;
  --accent-bg-color: #2f303a;
  --specific-bg-color: #f5f4fa;
}
body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
}
.list {
  list-style: none;
}
img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* header */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}
.header {
  background-color: var(--accent-color);
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}
.header > .container {
  display: flex;
  justify-content: space-between;
}
.nav,
.head-links,
.head-contacts {
  display: flex;
  align-items: center;
}

.logotyp-head,
.logotyp-web,
.logotyp-footer {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logotyp-head {
  color: #000;
  margin-right: 93px;
  text-decoration: none;
}
.logotyp-web {
  color: var(--specific-color);
}
.head-links {
  font-weight: 500;
  line-height: 16px;
  margin: 0px;
  padding: 0px;
  display: flex;
}
.head-links-names {
  position: relative;
  margin: 0 50px 0 0;
  padding: 0;
}
.head-names._selected::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--specific-color);
  border-radius: 2px;
}
.head-names {
  color: var(--title-text-color);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.head-names:hover,
.head-names:focus {
  color: var(--specific-color);
}

/*head-contacts*/
.head-contacts {
  margin: 0px;
  padding: 0px;
}
.head-contacts-elements {
  margin-left: 30px;
}
.contact-head-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-head {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  margin: 0;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-head:hover,
.contact-head:focus {
  color: var(--specific-color);
}
.contact-head:hover .contact-head-icon,
.contact-head:focus .contact-head-icon {
  fill: var(--specific-color);
}

/* hero */
.hero {
  background-color: var(--accent-bg-color);
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      125deg,
      rgba(49, 43, 43, 0.7),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Imgfon.jpg");
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-title {
  margin: 0 auto 30px auto;
  width: 650px;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}
.hero-btn {
  color: var(--accent-color);
  background-color: var(--specific-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}

/* sections */
h2,
h3 {
  color: var(--title-text-color);
  font-weight: 700;
}
.hidden {
  display: none;
}
.section-title {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.successes-title {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.successes-scroll {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.successes-content {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--specific-bg-color);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}
.successes-icons {
  padding: 25px 100px;
  margin-bottom: 30px;
}
.icons {
  width: 70px;
  height: 70px;
}

.successes-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 75px;
}

/*photo-section*/
.photo-links {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.photo-links-pisc {
  position: relative;
  width: 370px;
  height: 294px;
}
.photo-links-block {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.photo-links-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color);
}

/*team-section*/
.team-section {
  background-color: var(--specific-bg-color);
}
.team-card {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.team-links {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.team-content {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.team-profession {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.clients-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.clients {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-icon {
  width: 106px;
  height: 60px;
  margin: 0;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients:hover,
.clients:focus {
  border: 2px solid var(--specific-color);
}
.clients:hover .clients-icon,
.clients:focus .clients-icon {
  fill: var(--specific-color);
}

/* portfolio */

.button-section > .button-group {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button-element {
  background-color: var(--specific-bg-color);
  color: var(--title-text-color);
  border: 1px solid var(--specific-bg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 8px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-element:hover,
.button-element:focus {
  color: var(--accent-color);
  background-color: var(--specific-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  border-radius: 4px;
  border: none;
}
/*advertising-section*/
.advertising-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.advertising-block {
  margin-top: 30px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.advertising-block:hover,
.advertising-block:focus {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}
.advertising-image {
  height: 294px;
  position: relative;
  overflow: hidden;
}
.advertising-image-capture {
  position: absolute;
  display: flex;
  align-items: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.advertising-block:hover .advertising-image-capture {
  top: 0%;
}
.advertising-image-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-color);
}

.advertising-content {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.advertising-name {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  margin: 0 0 4px;
}
.advertising-variety {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88;
  margin: 0px;
}

/* footer */
.footer {
  background: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-containers {
  display: flex;
}
.logotyp-footer {
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.footer-contacts {
  padding: 0px;
  margin: 0px 70px 0px 0px;
  width: 231px;
}
.address-footer {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-mail-contact {
  margin-bottom: 9px;
}
.contact-footer {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-footer:hover,
.address-footer:focus {
  color: var(--specific-color);
}
.contact-footer:hover,
.contact-footer:focus {
  color: var(--specific-color);
}

.footer-aside {
  padding-top: 12px;
}
.color-aside {
  color: var(--accent-color);
  margin-bottom: 20px;
}
.socials {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
}
.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover {
  background-color: var(--specific-color);
}
.socials-img {
  width: 20px;
  height: 20px;
  fill: var(--accent-color);
}

.gray-img {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials-link:hover .gray-img,
.socials-link:focus .gray-img {
  fill: var(--accent-color);
}
/*subskription-block*/
.footer-form {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0;
  margin-left: 93px;
}
.footer-subskription {
  display: flex;
  align-items: center;
}
.subskription-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subskription-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.subskription-input:focus {
  border: 1px solid var(--specific-color);
}
.subskription-button {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  background-color: var(--specific-color);
  color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-right: 40px;
}
.subskription-item {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 30px;
}
/*modal-window*/
.backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}
.backdrop.is-hidden .modal {
  transform: scaleY(0);
}
.modal {
  position: relative;
  width: 528px;
  height: 581px;
  top: 60px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: black;
}

.modal-close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal-close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-close:hover:before,
.modal-close:hover:after {
  background-color: var(--specific-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.title-modal-form {
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}

.speaker-form {
  display: flex;
  flex-direction: column;
}

.speaker-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.speaker-box {
  position: relative;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.speaker-input {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 30px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.speaker-item {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--title-text-color);
}

.speaker-textarea {
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}

.speaker-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.checkbox-link {
  color: var(--specific-color);
}
.speaker-label-checkbox {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-left: 40px;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  user-select: none;
}

.speaker-input-checkbox {
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: -1;
}
.checkbox-checkmart {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 15px;
  top: 3px;
  border: 1px solid var(--title-text-color);
  border-radius: 4px;
}

.checkbox-item {
  position: absolute;
  width: 15px;
  height: 15px;
  fill: transparent;
}
.speaker-input-checkbox:checked ~ .checkbox-checkmart {
  background-color: var(--specific-color);
  border: 1px solid var(--specific-color);
}
.speaker-input-checkbox:checked ~ .checkbox-checkmart > .checkbox-item {
  fill: var(--accent-color);
}
.speaker-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--accent-color);
  background-color: var(--specific-color);
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.speaker-btn:focus {
  background-color: #188ce8;
}

.speaker-input:focus {
  border: 1px solid var(--specific-color);
}
.speaker-input:focus ~ .speaker-item {
  fill: var(--specific-color);
}
