/* html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #fff;
  --specific-color: #2196f3;

  --primary-bg-color: #fff;
  --accent-bg-color: #2f303a;
  --specific-bg-color: #f5f4fa;
}
/* body {
  color: var(--primary-text-color);
  background-color: var(--primary-bg-color);
  font-family: Roboto, sans-serif;
} */

/* section {
  padding-top: 94px;
  padding-bottom: 94px;
} */

/* ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
} */

/* h2 {
  margin-top: 0px;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

h2,
h3 {
  color: var(--title-text-color);
  font-weight: 700;
}

.hidden {
  display: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1170px;
}  */


/* header */
/* .header {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
} */
/* .header>.container {
  display: flex;
  justify-content: space-between;
} */
/* .nav {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 16px;
}
.nav__box {
  margin-left: 93px;
}  

.nav__item {
  position: relative;
  margin: 0 50px 0 0;
  padding: 0;
}  */
/* .nav__link--selected::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--specific-color);
  border-radius: 2px;
}
.nav__link {
  color: var(--title-text-color);
  text-decoration: none;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover,
.nav__link:focus {
  color: var(--specific-color);
} */

/*head-contacts*/
/* .contacts {
  align-items: center;
}
.contacts__icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__item {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  text-decoration: none;
  margin-left: 30px;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__item:hover,
.contacts__item:focus {
  color: var(--specific-color);
}
.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
  fill: var(--specific-color);
}  */

/* hero */
/* .hero {
  background-color: var(--accent-bg-color);
  display: flex;
  justify-content: center;
  text-align: center;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      125deg,
      rgba(49, 43, 43, 0.7),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/Imgfon.jpg");
}
.hero__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  margin: 0 auto 30px auto;
  width: 650px;
  color: var(--accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
}  */
/* .button {
  color: var(--accent-color);
  background-color: var(--specific-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
}  */

/* sections */

/*advertising section*/
/* 
.features__card {
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--specific-bg-color);
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 4px;
}

.features__box {
  padding: 25px 100px;
  margin-bottom: 30px;
}
.features__icon {
  width: 70px;
  height: 70px;
}
.features__title {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 75px;
} */

/*promo-section*/
/* .promo {
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.promo__pisc {
  position: relative;
  width: 370px;
  height: 294px;
}
.promo__content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}
.promo__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--accent-color);
} */

/*team-section*/
/* .section--background {
  background-color: var(--specific-bg-color);
}
.team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 0px;
}
.team__card {
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
}
.team__content {
  background-color: var(--accent-color);
  padding-top: 30px;
  padding-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.team__profession {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
} */
/*clients-section*/
/* .clients {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
  padding: 0px;
}
.clients__item {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__icon {
  width: 106px;
  height: 60px;
  margin: 0;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover,
.clients__item:focus {
  border: 2px solid var(--specific-color);
}
.clients__item:hover .clients__icon,
.clients__item:focus .clients__icon {
  fill: var(--specific-color);
} */

/* portfolio */

.buttons > .buttons__items {
  margin-top: 0px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.buttons__item {
  background-color: var(--specific-bg-color);
  color: var(--title-text-color);
  border: 1px solid var(--specific-bg-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  cursor: pointer;
  padding: 6px 22px;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__item:hover,
.buttons__item:focus {
  color: var(--accent-color);
  background-color: var(--specific-color);
  box-shadow: 0px 2px 2px 0px #0000001f, 0px 1px 2px 0px #00000014,
    0px 3px 1px 0px #0000001a;
  border-radius: 4px;
  border: none;
}
/*advertising-section*/
.adv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.adv__card {
  margin-top: 30px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adv__card:hover,
.adv__card:focus {
  box-shadow: 1px 4px 6px 0px #00000029, 0px 4px 4px 0px #0000000f,
    0px 1px 1px 0px #0000001f;
}
.adv__img {
  height: 294px;
  position: relative;
  overflow: hidden;
}
.adv__capture {
  position: absolute;
  display: flex;
  align-items: center;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adv__card:hover .adv__capture {
  top: 0%;
}
.adv__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: var(--accent-color);
}

.adv__content {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.adv__title {
  color: var(--title-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  text-decoration: none;
  margin: 0 0 4px;
}
.adv__subtitle {
  color: var(--primary-text-color);
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.88;
  margin: 0px;
}

/* footer */
.footer {
  background: var(--accent-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
}
.footer__box {
  display: flex;
}
.footer__contacts {
  padding: 0px;
  display: flex;
  flex-direction: column;
}
.footer__address {
  color: var(--accent-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-bottom: 9px;
  margin-top: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__mail {
  margin-bottom: 9px;
}
.footer__contact {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__address:hover,
.footer__address:focus {
  color: var(--specific-color);
}
.footer__contact:hover,
.footer__contact:focus {
  color: var(--specific-color);
}
/*aside-box*/
.footer__socials {
  padding-top: 12px;
  margin-left: 70px;
}
.footer__title {
  font-size: 14px;
  line-height: 1.14;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: var(--accent-color);
}
  
/* .socials {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0px;
}
.socials__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  margin-right: 10px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover {
  background-color: var(--specific-color);
}
.socials__icon {
  width: 20px;
  height: 20px;
  fill: var(--accent-color);
}

.socials__icon--gray {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.socials__link:hover .socials__icon--gray,
.socials__link:focus .socials__icon--gray {
  fill: var(--accent-color);
} */
/*subskription-box*/
.footer__form {
  display: flex;
  flex-direction: column;
  padding: 12px 0 0;
  margin-left: 93px;
}
.footer__registration {
  display: flex;
  align-items: center;
}
.footer__input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-right: 12px;
  padding-left: 16px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:focus {
  border: 1px solid var(--specific-color);
}
/* .button--decorated {
  position: relative;
}
.button__pic {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 20px;
  top: 12px;
} */
/*modal-window*/
/* .backdrop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024,
    0px 1px 3px 0px #0000001f;
  opacity: 1;
  transition: opacity 0.25s cubic-bezier(0.4, 0, 0.2, 1),
    visibility 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
}
.backdrop--hidden .modal {
  transform: scaleY(0);
}
.modal {
  position: relative;
  width: 528px;
  padding: 40px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close::before,
.modal__close::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 2px;
  top: 50%;
  left: 50%;
  background-color: black;
}

.modal__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.modal__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.modal__close:hover:before,
.modal__close:hover:after {
  background-color: var(--specific-color);
}

.modal__box {
  margin: 0px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-text-color);
}
.modal__title {
  margin-bottom: 12px;
}
.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  margin-bottom: 4px;
  text-align: left;
  color: var(--primary-text-color);
}

.modal__aside {
  position: relative;
  margin-bottom: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input {
  position: relative;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 45px;
  outline: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: var(--title-text-color);
}

.modal__textarea {
  margin-bottom: 20px;
  height: 120px;
  padding: 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modal__except {
  color: var(--specific-color);
}
.modal__checkbox {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  padding-left: 40px;
  margin-bottom: 30px;
  color: var(--primary-text-color);
  user-select: none;
}

.modal__checkbox--active {
  position: absolute;
  width: 0px;
  height: 0px;
  z-index: -1;
}
.modal__checkmart {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 15px;
  top: 3px;
  border: 1px solid var(--title-text-color);
  border-radius: 4px;
}

.modal__pic {
  width: 15px;
  height: 15px;
  fill: transparent;
}
.modal__checkbox--active:checked ~ .modal__checkmart {
  background-color: var(--specific-color);
  border: 1px solid var(--specific-color);
}
.modal__checkbox--active:checked ~ .modal__checkmart > .modal__except {
  fill: var(--accent-color);
} */
/* .button--shaded {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button--shaded:focus {
  background-color: #188ce8;
} */
/* 
.modal__input:focus {
  border: 1px solid var(--specific-color);
}
.modal__input:focus ~ .modal__icon {
  fill: var(--specific-color);
} */
