.contacts {
    align-items: center;
}

.contacts__icon {
    width: 16px;
    height: 16px;
    fill: $primary-color;
    margin-right: 10px;
    transition: $transition;
}

.contacts__item {
    color: $primary-color;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    text-decoration: none;
    margin-left: 30px;
    display: flex;
    align-items: center;
    transition: color $transition
        fill $transition;
}

.contacts__item:hover,
.contacts__item:focus {
    color: $specific-color;
}

.contacts__item:hover .contacts__icon,
.contacts__item:focus .contacts__icon {
    fill: $specific-color;
}